<header>
  <div class="logo"><a href="/">Kitty May</a></div>
  <nav>
    <ul>
      <li><a href="/about">about</a></li>
      <li class="dropdown"><a href="/work">work</a>
        <ul class="dropdown-menu">
          {% for type in site.data.contentful.spaces.kittymay.workType %}
            <li><a href="/work/#{{ type.title | downcase }}">{{ type.title | downcase }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/upcoming" id="upcoming">upcoming</a></li>
      <li><a href="http://katherinestokes.com" target="_blank">therapy</a></li>
      <li><a href="/contact" id="contact">contact</a></li>
    </ul>
  </nav>
</header>
