---
layout: page
title: about
---
{% for section in site.data.contentful.spaces.kittymay.about %}
<div id="{{ section.title | downcase }}" class="{{ section.title | downcase }}">
  <h2>{{ section.title | downcase }}:</h2>
  <div class="content">
    {{ section.body | markdownify }}
  </div>
</div>
{% endfor %}
<div id="testimonials" class="testimonials">
  <h2>testimonials:</h2>
  {% for testimonial in site.data.contentful.spaces.kittymay.testimonials %}
  <div class="testimonial-full">
    {{ testimonial.full | markdownify }}
    <p id="testimonial-signature">- {{ testimonial.author }}</p>
  </div>
  {% endfor %}
</div>
