---
layout: page
title: upcoming
---
{% for event in site.data.contentful.spaces.kittymay.event %}
  <div class="event">
    <h3>{{ event.title }}</h3>
    <p>{{ event.subtitle }}</p>
    {% if event.second_facilitator %}
    <p class="second-facilitator">with {{ event.second_facilitator }}</p>
    {% endif %}
    <p>{{ event.feedback }}</p>
    <div class="event-section">
      {{ event.description | markdownify }}
    </div>

    {% if event.notes %}
    <div class="event-section note">
      <p>Please note:</p>
      <ul>
      {% for note in event.notes %}
      <li>{{ note }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if event.previous_feedback %}
    <div class="event-section feedback">
      <p>Feedback from previous workshops:</p>
      <ul>
        {% for feedback in event.previous_feedback %}
        <li>"{{ feedback }}"</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <ul class="event-section details">
      <li>When:
      {% assign d = event.date | date: "%-d" %}
        {{ event.date | date: "%A, %B" }}
        {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd
        {% when '3' or '23' %}{{ d }}rd
        {% else %}{{ d }}th
      {% endcase %} | {{ event.date_time }}</li>
      <li>Where: {{ event.location }}</li>
      {% if event.who %}
      <li>Who: {{ event.who }}</li>
      {% endif %}
      <li>Cost: {{ event.cost }}</li>
        {% if event.cost_tiers %}
        <ul class="cost-tiers">
        {% for tier in event.cost_tiers %}
          <li>- {{ tier }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if event.who %}
        <li>{{ event.cost_note }}</li>
        {% endif %}
      <li>Participate: {{ event.participate | markdownify }}</li>
    </ul>
  </div>
{% endfor %}
