---
layout: page
title: work
---
{% for type in site.data.contentful.spaces.kittymay.workType %}
  <div class="work-section {{ type.title | downcase }}" id="{{ type.title | downcase }}">
    <div class="description">
      <h2><span>for</span> {{ type.title | downcase }}:</h2>
      <div class="content">
        {{ type.description | markdownify }}
      </div>
    </div>
    <div class="topics">
      <h2>topics <span>include</span>:</h2>
      <div class="content">
        <ul>
          {% for topic in type.topics %}
            <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}
